


/*register-page*/
.create-account-btn {
    width: 412px;
    height: 48px;
    left: 581px;
    top: 491px;
    background: #4C7CFF;
    border-radius: 15px;
}

.grey-text {
    color: #9D9D9D;
}
